/* /*Font
Roboto 400 500 700 900 
For logo Raleway 700
*/ /*general text colors #212121 / secondary #757575*/
:root {
    --primary-text-color: #212121;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
}
body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-background-color);
    font-size: 14px;
}
li {
  list-style-type: none;
}
/*---------------------HEADER-----------------------*/
.logo .logo-blue {
  color: #2196F3;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--primary-text-color);
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.nav-list a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-list .nav-link.current {
  color: #2196F3;
}

.header a:hover {
  color: #2196F3;
}
.header a:focus {
  color: #2196F3;
}
.list:hover {
  color: #2196F3;
}
.header-address a {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
} 
/*-----------------MAIN--------------------*/
/*---------------1 section----------------*/
.hero .hero-title {
  color: #757575;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
}
.hero-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-decoration: none;
  background-color: #2196F3;
}
/*---------------2 section---------------*/
.preference .preference-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.preference .preference-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
} /*---------------3 section JOB---------------*/
.job .job-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*---------------4 section TEAM---------------*/
.team .team-container {
  background-color: #F5F4FA;
}

.team .team-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-work {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
}
/*---------------5 section CLIENTS---------------*/
.clients .clients-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

/*---------------FOOTER---------------*/
.footer .container {
  background-color: #2F303A;
}
.logo-white {
  color: #fff;
}
.footer-address span {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
}
.footer .item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 1.71;
}
.footer .join {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14; 
}
/*----------------PORTFOLIO------------------*/
.list-text {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-text span {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.80;
  letter-spacing: 0.03em;
}
.list a {
  text-decoration: none;
}
.userpic-info {
  color: red;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.03em;
}
.radio .btn {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  text-decoration: none;
  text-align: center;
}
.radio .btn:hover, 
.radio .btn:focus {
  color: #ffffff;
  background-color: #2196F3;
}